* body {
	background: #FFF;
}

h4 {
	font-family: Fira Sans, sans-serif;
	color: #007EA7;

}

 a {
 	font-family: Roboto, sans-serif;
 	text-decoration: none;
 	color: #39393A;
 	font-size: 18px;

 }

 a:hover {
 	color: #FE5F55;
 }

 p{
    font-family: Fira Sans, sans-serif;
    font-size: 18px;
    line-height: 22px;

 }

 

